<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank You</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="grid-wrapper">
        <header>
            <!-- Link to external images file -->
            <img src="{{ url_for('static', filename='images/CMFS-logo.png') }}"
                alt="CMFS Logo" class="CMFS-logo-small"></img>
                <h3>Customer Feedback Management System (CFMS)</h3>
            <nav>
                <a href="{{ url_for('welcome', username=username) }}">Welcome</a>
                <a href="{{ url_for('about', username=username) }}">About</a>
                <a href="/">Exit</a>
                <span class="user-button">👤 Logged In: {{ username }}</span>
            </nav>
            <hr>
        </header>
        <div class="container">
            <h1>Thank You for Your Feedback!</h1>
            <h3>We've successfully recorded your valuable input.</h3>
            <!-- Link to external images file -->
            <img src="{{ url_for('static', filename='images/' + smiley) }}" 
                alt="Feedback Smiley" 
                class="smiley-image">

            <div class="result-details">
                <h3>Your Submission Details:</h3>
                <p><strong>Rating:</strong> {{ rating }} / 5</p>
                <p><strong>Feedback:</strong></p>
                <p>{{ comment }}</p>
            </div>
            <!-- Link to the feedback page -->
            <a href="{{ url_for('feedback', username=username) }}" class="feedback-link">
                Click here to submit your feedback again
            </a>
        </div>
        <footer>
            <hr>  <!-- Horizontal line -->
            <p>&copy; 2025 by Mohamed Zuraiman</p>
        </footer>
    </div>
</body>
</html>